.memoInpt{
   margin-top: 30vh;
}
.tdl {
   width: 47vw;
   border: 1px solid #000000;
   padding: 5px;
}
.tdlh {
   background: #d9d9d9;
}
.tdsh {
   background: #d9d9d9;
}
.tds {
   width: 5vw;
   border: 1px solid #000000;
   padding: 5px;
}
