################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eBene/config
/.vs/eBene/FileContentIndex
/.vs/eBene/v17
/eBene.sln
