.container{
   display: flex;
   margin: 100px;
   width: 100px;
   height: 100px;
   border-radius: 20px;
   background-color: rgb(229, 233, 15);
   text-align: center;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
   position: relative;
}
.e{
   position: absolute;
   left: 10px;
   font-weight: 900;
   font-size: 2rem;transform: rotate(-30deg);
   color: cornflowerblue;
   top: 33px;

}
.text{
   padding-left: 1.8rem;
   color: blue;
}